@model IEnumerable<RSSKO.Models.Sorular>

@{
    ViewBag.Title = "Test";
}

<h2>Teste Başla!</h2>

@using (Html.BeginForm())
{
    int i = 1;
    <div class="container">
        <div class="row">
            @foreach (var m in Model)
            {
                <div class="col-sm-6">
                    <div class="col-xs-12">
                        <h4><span class="label label-warning" id="">Soru:</span>@m.Soru</h4>
                    </div>
                    <div class="col-xs-12">
                        <div class="quiz" data-toggle="buttons" id="@i">
                            <label class="element-animation1 btn btn-md btn-primary btn-block" style="text-align:left">
                                <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                                <input type="radio" name="q_answer" value="@m.A">@m.A
                            </label>
                            <label class="element-animation2 btn btn-md btn-primary btn-block" style="text-align:left">
                                <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                                <input type="radio" name="q_answer" value="@m.B">@m.B
                            </label>
                            <label class="element-animation3 btn btn-md btn-primary btn-block" style="text-align:left">
                                <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                                <input type="radio" name="q_answer" value="@m.C">@m.C
                            </label>
                            <label class="element-animation4 btn btn-md btn-primary btn-block" style="text-align:left">
                                <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                                <input type="radio" name="q_answer" value="@m.D">@m.D
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer text-muted hidden">
                        <span id="answer@(@i)">@m.Cevap</span>
                    </div>
                </div>
                i++;
            }
        </div>
        <div class="form-group">
            <div style="margin-top:20px">
                <input id="SinavBitir" value="Sınavı Tamamla" class="btn btn-primary btn-lg btn-block" style="min-width:100%" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var cvp1, cvp2, cvp3, cvp4, secilen1, secilen2, secilen3, secilen4;

        function cevapKontrol(x) {
            $("#" + x).on('change', function () {
                var secilen = $('#' + x + ' input:radio:checked').val();
                window["secilen" + x] = $('#' + x + ' input:radio:checked');
                window["cvp" + x] = secilen;
                
                //if (secilen == cevap) {
                //    console.log("Doğru");
                //    //$("#answer" + x).css({ "background-color": "green" });
                //    $(this).css({ "background-color": "green" });
                //} else {
                //    console.log("Yanlış");
                //    //$("#answer" + x).css({ "ackground-color": "red" });
                //    $(this).css({ "background-color": "red" });
                //}
            });
        }

        for (var i = 1; i <= 4; i++) {
            cevapKontrol(i);
        }

        $("#SinavBitir").on('click', function () {
            //console.log("fonsk");
            //$('#2 input:radio:checked').closest('label').css({ "background-color": "green" });
            for (var i = 1; i <= 4; i++) {
                var cevap = $("#answer" + i).text();
                //console.log(window["cvp" + i]);
                if (window["cvp" + i] == cevap) {
                    window["secilen" + i].closest('label').css({ "background-color": "green" });
                } else {
                    window["secilen" + i].closest('label').css({ "background-color": "red" });
                }
            }
            $(this).prop("disabled", true);
        });


    </script>
}