@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Link</th>
                    <th>Description</th>
                    <th>Publish Date</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.RssFeed != null)
                {
                    foreach (var item in ViewBag.RssFeed)
                    {
                        <tr onclick="getData(this)">
                            <td>@item.Title</td>
                            <td><a href="@item.Link" target="_blank">@item.Link</a></td>
                            <td>@item.Description</td>
                            <td>@item.PubDate</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function getData(el) {
            var icerik = [];
            var uzn = el.children.length;
            for (var i = 0; i < uzn; i++) {
                icerik.push(el.cells[i].innerText);
            }
            //console.log(icerik);

            //Aşağıda bir class oluşturyorz ve arrayın içindekilerini RssHeader klasımıza uyacak bir biçimde eşitliyoruz
            var rssHeader = {
                Title: icerik[0],
                Link: icerik[1],
                Description: icerik[2],
                PubDate: icerik[3]
            };
            console.log(rssHeader);
        }
        /*$("tbody tr").click(function () {
            var value = $(this).find('tr').html();
            alert(value);
        })*/
    </script>
}